%header
  %hgroup
    %h1.page-header
      Listing pitches:


%ul.span10
  - @pitches.each do |pitch|
    %div.pitch.row-fluid.well

      %span.index-video.span2
        = pitch.video_url


      %span.index-body.span6
        %h2
          = link_to pitch.title, pitch


      %span.index-details.span2
        #tags
          - pitch.skill_list.each do |skill|
            %span.label.label-info= skill
        %p.location
          = pitch.location
        %p.edit
          / %span= link_to pitch.title, pitch
          / %span= link_to 'Edit', edit_pitch_path(pitch)
          / %span= link_to 'Destroy', pitch, method: :delete, data: { confirm: 'Are you sure?' }


